<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta http-equiv="Z-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="/src/views/css/bootstrap.min.css">
        <script type="text/javascript" src="/src/views/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/src/views/js/jquery-3.3.1.slim.min.js"></script>
        <script type="text/javascript" src="/src/views/js/popper.min.js"></script>
        <script type="text/javascript" src="/src/views/js/web3.min.js"></script>
    </head>
    <body>
        <h2>환영합니다, 
            <% if(name){ %>
                <span class="name"><%= name %></span>
            <% } else { %>
                <span class="anonymous">익명</span>
            <% } %>님.
        </h2>
    </body>
</html>