<html>
    <head>
        <title>로그인</title>
        <meta charset="UTF-8">
        <meta http-equiv="Z-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" type="text/css" href="/src/views/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/src/views/css/login.css">

        <script type="text/javascript" src="/src/views/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/src/views/js/jquery-3.3.1.slim.min.js"></script>
        <script type="text/javascript" src="/src/views/js/popper.min.js"></script>
        <script type="text/javascript" src="/src/views/js/web3.min.js"></script>
    </head>
    <body>
        <div class="login" id="outline-login">
            <% if(reqSignUp){ %>
                <form action="" method="POST">
                    <p><input type="text" name="signUp-id"></p>
                    <p><input type="password" name="signUp-pw"></p>
                    <p><input type="submit" name="sumbit-signUp" value="가입하기"></p>
                </form>
            <% } else { %>
                <form action="" method="POST">
                    <p><input type="text" name="input-id-login"></p>
                    <p><input type="password" name="input-pw-login"></p>
                    <p><input type="submit" name="sumbit-login" value="로그인"></p>
                </form>
                <P><a class="signup" href="">지금 가입하세요.</a></P>
            <% } %>
        </div>
    </body>
</html>