 .main {
    margin-top: 250px;
    margin-bottom: auto;
 }
 
 #title {
    text-align: center;
 }
 
 h2  {
    font-family: fantasy;
    color: rgb(68, 160, 73);
    font-size: 70px;
 }

 .setup {
    text-align: center;
    margin-top: 20px;
 }

 #get_token {
    margin-right: 20px;
 }

 #start {
    text-align: center;
    margin-right: 20px;
 }

 .betting {
    text-align: center;
    margin-top: 30px;
 }

 table {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    border: 1px solid #444444;
    border-collapse: collapse;
}

th {
   border: 1px solid #444444;
   padding: 18px;
}

.result {
   text-align: center;
   color: seagreen;
   margin-top: 40px;
   font-size: 50px;
   font-family: cursive;
}